Assignment_2-NodeRed_IoT_Project/Code/flows.json
[{"id":"f48065b1.f2a8e8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"80dbd0ef.3a3f7","type":"ibmiot in","z":"f48065b1.f2a8e8","authentication":"apiKey","apiKey":"94de4fe9.2a844","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":160,"wires":[["4f03a308.61795c","231ef24a.f3d0be","174227ea.168108","6062faa4.6b24d4","8f4d6159.063fd"]]},{"id":"4f03a308.61795c","type":"debug","z":"f48065b1.f2a8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":160,"wires":[]},{"id":"231ef24a.f3d0be","type":"ui_gauge","z":"f48065b1.f2a8e8","name":"","group":"78cc7663.0e7388","order":2,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"150","colors":["#00b324","#e6d600","#ca3838"],"seg1":"","seg2":"","x":480,"y":240,"wires":[]},{"id":"174227ea.168108","type":"ui_gauge","z":"f48065b1.f2a8e8","name":"","group":"47aa33cf.d5186c","order":4,"width":0,"height":0,"gtype":"compass","title":"Pressure","label":"units","format":"{{msg.payload.pressure}}","min":0,"max":"100","colors":["#00b500","#e2e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":320,"wires":[]},{"id":"8f4d6159.063fd","type":"cloudant out","z":"f48065b1.f2a8e8","name":"","cloudant":"","database":"iotdata","service":"node-red-ccvem-2020--cloudant-1601471020121-44502","payonly":true,"operation":"insert","x":530,"y":80,"wires":[]},{"id":"6062faa4.6b24d4","type":"ui_gauge","z":"f48065b1.f2a8e8","name":"","group":"38e405a9.877caa","order":3,"width":0,"height":0,"gtype":"wave","title":"Moisture","label":"units","format":"{{msg.payload.moisture}}","min":"65","max":"110","colors":["#00b500","#e6de00","#ca3838"],"seg1":"","seg2":"","x":480,"y":400,"wires":[]},{"id":"94de4fe9.2a844","type":"ibmiot","z":"","name":"new API","keepalive":"60","serverName":"608f5x.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"78cc7663.0e7388","type":"ui_group","z":"","name":"Humidity","tab":"700464fa.872f5c","order":2,"disp":true,"width":"6","collapse":false},{"id":"47aa33cf.d5186c","type":"ui_group","z":"","name":"Pressure","tab":"700464fa.872f5c","order":4,"disp":true,"width":"6","collapse":false},{"id":"38e405a9.877caa","type":"ui_group","z":"","name":"Moisture","tab":"700464fa.872f5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"700464fa.872f5c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]